header {
    background-color: #FF0000; 
    height: 70px; 
    width: 100%;
}

body {
    background-color:cornflowerblue;
    height: 100%;
    width: 100%;
}

footer {
    background-color:green;
    height: 70px;
    width: 100%
}